@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --screen-padding: 30px;
  --radius: 30px;

  --accent-color: #1ca1f7;
  --alert-color: #ec3481;
  --text-color: #263656;
  --card-color: #ffffff;
  --bg-color: #f2f7f9;
  --border-color: #e0e6e9;
  --highlight-color: #f6f9fc;
  --shadow-color: rgba(32, 64, 128, 0.2);
  --shadow: -1.5px -1.5px 2px rgba(255, 255, 255, 0.95),
    1px 1px 3px var(--shadow-color);
  --shadow-wide: -5px -5px 8px rgba(255, 255, 255, 1),
    5px 5px 10px var(--shadow-color);
  --shadow-inset: -1.5px -1.5px 3px rgba(255, 255, 255, 0.95) inset,
    1px 1px 4px var(--shadow-color) inset;
  --shadow-text: 1px 1px 1px rgba(255, 255, 255, 0.95);

  --font: "HelveticaNeue-Light", arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

a,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.App {
  text-align: center;
  width: 100%;
  /* height: 100vh; */
  width: 80%;
  margin: 0 auto;
}

/* =======================pokemonLoader============================ */
.pokemonLoader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonLoaderIcon {
  position: relative;
  height: 100px;
  width: 100px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 6px solid black;
  animation: spin 1s linear infinite;
}

/* .pokemonLoaderIcon::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translatey(-50%);
} */

.pokemonLoaderIcon::after {
  content: "";
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 43px;
  left: 43px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 5px black, inset 0 0 0 10px white,
    inset 0 0 0 12px black;
}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* =============================================================================== */

.pokemonCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* place-items: center; */
  gap: 20px;
  margin-top: 20px;
}

.btnBox {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  position: relative;
  cursor: pointer;
  font: inherit;
  background: var(--bg-color);
  border: 1px solid var(--highlight-color);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--accent-color);
  padding: var(--screen-padding) 50px;
  border-radius: 5em;
  box-shadow: var(--shadow-wide);
  text-shadow: var(--shadow-text);
  transition: all 0.2s;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.btn:hover {
  box-shadow: var(--shadow);
  transform: translateY(4px);
  box-shadow: none;
}

.btn:hover:after {
  border: 2px solid var(--accent-color);
}

.btn:after {
  content: "";
  position: absolute;
  display: block;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid var(--border-color);
  transition: border-color 0.3s;
  border-radius: 5em;
}
